# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Django
db.sqlite3
media/
ml_models/*.pkl
staticfiles/

# Node
node_modules/
build/
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log
